@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-primary: "Space Mono", serif;
  --font-size-title: 1.5rem;

  --font-wgh-medium: 700;
  --font-wgh-regular: 400;
  --font-wgh-light: 300;

  --Strong-cyan: hsl(172, 67%, 45%);

  /* cards color */
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);

  --corner-radius: 0.875rem;
}

/* ------------------------------
   Reset Global
------------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------
   Estilos base
------------------------------ */
body {
  font-family: var(--font-primary);
  background-color: var(--Light-grayish-cyan);
  font-weight: var(--font-wgh-medium);
}

h1 {
  text-align: center;
  font-size: var(--font-size-title);
  padding-block: 1.5rem;
  color: var(--Very-dark-cyan);
  letter-spacing: 0.5rem;
}

footer {
  display: none;
  font-size: 11px;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}

/* ------------------------------
   Componentes
------------------------------ */
form {
  background-color: var(--White);
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & :where(label) {
    color: var(--Dark-grayish-cyan);
    font-weight: var(--font-wgh-medium);
  }

  & :where(input, button) {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-family: var(--font-primary);
    background-color: var(--Very-light-grayish-cyan);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  text-align: end;
  font-weight: 700;
  font-size: var(--font-size-title);
  color: var(--Very-dark-cyan);
}
input::placeholder {
  font-weight: 700;
  text-align: end;
  font-size: var(--font-size-title);
}
input:focus {
  outline: 3px solid var(--Strong-cyan);
}

.billAmount {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
}
.numPeople {
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
}

/* Botones */
.tip-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip-buttons button,
button[type="reset"] {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-title);
  border: none;
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  font-weight: var(--font-wgh-medium);
  cursor: pointer;
  transition: background-color 0.3s;
}

.tip-buttons input[type="number"] {
  width: 100%;
}

.tip-buttons button:focus,
.tip-btn.active {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

button[type="reset"] {
  background-color: var(--Dark-grayish-cyan);
  color: var(--White);
  font-weight: var(--font-wgh-medium);
  transition: background-color 0.3s;
}
button[type="reset"]:hover {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  cursor: pointer;
}

/* Resultados */
.results {
  background-color: var(--Very-dark-cyan);
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-item p {
  color: var(--White);
  display: flex;
  flex-direction: column;

  & :where(span) {
    color: var(--Dark-grayish-cyan);
  }
}

.result-item :nth-child(2) {
  font-weight: var(--font-wgh-medium);
  font-size: var(--font-size-title);
  color: var(--Strong-cyan);
}

/* ------------------------------
   Estados
------------------------------ */
.shake {
  animation: error-shake 0.5s ease-in-out;
}

input:user-invalid,
.user-invalid {
  border: 3px solid red;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

/* ------------------------------
   Animaciones
------------------------------ */
@keyframes error-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

/* ----- Responsive ----- */
@media (width >= 768px) {
  main {
    height: 100vh;
    display: grid;
    place-content: center;
  }

  form {
    flex-direction: row;
    gap: 2rem;
    max-width: 64rem; /* 1024px */
  }

  .form-section.left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .tip-buttons {
    grid-template-columns: repeat(3, 1fr);
  }

  .results {
    width: 100%;
    justify-content: space-between;
    padding: 2.5rem;
  }

  .result-item :nth-child(2) {
    font-size: 3rem;
  }
}
